{% extends 'base.html'%}
{% block title %}
Home
{% endblock %}

<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-8">
            <strong>Search Post:{{tag}}</strong>
        </div>
        <div class="col-4">
            <form action="" method="POST" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Search by title" id="tag" name="tag"/>
                    </div>
                    <div class="col-6" aligin="left"> 
                        <input type="submit"  value="Search" class="form-control btn-info" name=""/>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Recent Posts
        </div>
        <div class="card-body">

            <table class="table table-striped table-sortable table-sm " cellspacing="0" style="width: 100%">
                <thead class="text-white">
                    <tr class="card-text bg-primary">
                        <th scope="col">Title</th>
                        <th scope="col">Subtitle</th>
                        <th scope="col">Author</th>
                        <th scope="col">Date Posted<i class="fas fa-sort ml-3"></i></th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts.items %}
                    <tr>
                        <td><a href={{"/post/"+post.slug}}>{{post.title}}</a></td>
                        <td>{{post.subtitle}}</td>
                        <td>{{post.author}}</td>
                        <td>{{post.date_posted.strftime('%B %d, %Y')}}</td>
                        <td>
                            <i class="fas fa-thumbs-up mr-3"></i><a href={{"/post/"+post.slug}}><i class="fa fa-comment" aria-hidden="true"></i></a><i class="fas fa-tags ml-3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination mt-3">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('homepage', page=page_num) }}">{{ page_num}}</a>

        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('homepage', page=page_num) }}">{{ page_num}}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
</div>

<script src="{{url_for('static',filename='main.js') }}"></script>
{% endblock %}

